* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container {
  max-width: calc(980px + 15px * 2);
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 60px;
  display: flex;
  column-gap: 100px;
}

.board {
  position: relative;
}

.tile {
  position: absolute;
}
